@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

html{
    text-align: center;
    scroll-behavior: smooth;
    font-family: 'Acme', sans-serif;
}

body{
    margin: 0;
    background-image:url(images/balloon-bg.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-color: #A7F3D0;
}

.first{
    height: 200px;
    width: 500px;
    margin: auto;
    padding: 1rem;
    border: 1px solid black;
    margin-top: 190px;
    font-size: large;
    border-radius: 9rem;
    box-shadow: 5px 5px 20px 7px #075985
}

.second-outer{
    height: 622px;
    width: 500px;
    margin: auto;
    padding: 1rem;
    border: 1px solid black;
    margin-top: 235px;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    box-shadow: 0px 5px 10px 5px #075985
}

#scroll-down{
    padding: 0.7rem;
    border-radius: 1rem;
    cursor: pointer;
}

#scroll-down:hover, #button:hover{
    background-color: #FEE2E2;
    cursor: pointer;
}

.second-first{
    font-size: larger;
    box-shadow: 0px 0px 10px 5px #B91C1C;
    width: 250px;
    height: auto;
    margin: 0 auto;
    padding: 0px;
    position: relative;
}

/* .gap{
    height: 70px;
} */

.second-second{
    font-size: larger;
}

input, #button, #display-message{
    padding: 0.5rem;
    border-radius: 0.7rem;
    margin: 0.5rem;
    font-size: 1.1rem;
}

.cross{
    text-decoration: none;
    text-align: right;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

#display-message{
    color: #1E3A8A;
    font-weight: bold;
}

.whole{
    background-color: transparent;
    margin: 0rem 2rem 1rem 2rem;
    opacity: 0.9;
    box-shadow: 10px 10px 10px grey;
    border: 1px solid black;
    border-radius: 0.7rem;
}

.link-social{
    padding: 0.5rem;
}

.link-social:hover{
    filter: invert(10%);
}

.list-item-inline {
    display: inline;
    padding: 0.5rem 0.6rem;
}

.list-links {
    color: white;
    text-decoration: none;
    padding: 0.7rem;
}

.social-links{
    margin-left: 0px;
    padding-left: 0px;
}
